p{
    margin-bottom: 0px !important;
}
.list ul li{
    margin-right: 10%;
}
.list{
    margin-left: 3%;
    margin-top: 2%;
}
.nav-back{
    background-image: url("./assets/background\ sec-.png");
    height: 500px;
}
.hh::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: rgb(231, 64, 64);
    width: 30%;
    top: 60%;
}
.get::before{
    position: absolute;
    content: "";
    height: 5px;
    background-color: rgb(231, 64, 64);
    width: 10%;

}
.card-icon{
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-star{
    background-color: aqua;
    border-radius: 40%;
    padding: 0;
}
@media screen and (max-width: 768px){
    .child{
        display: none;
    }
    .card{
        margin-top: 20px;
    }
    .practise{
        margin-top: 350px;
    }
    .footer{
        display: none;
    }
    .foot{
        font-size: 10px;
    }
    .High{
        margin-top: 20%;
    }
}